{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5"> 
<h3>Привет Всем! Меня зовут Саня, я автор этого сайта!</h3>
<p>
    Меня зовут Саня, я проживаю в тёплом городе Краснодар!
    Мои проекты на данный момент, можно посмотреть тут:
    <a href="https://github.com/Sneg0vikS" target="_blank">Github</a>
    <img src="{% static "img/TjmWoxendqk.jpg" %}"
        hspace="300px"  
        vspace="50px"
        alt="Вот впринципе я"
        width="290"
        height="350">
</p>
</div>
{% endblock %}
