{% extends 'base.html' %}
{% load thumbnail %}
{% load cache %}
{% block title %}
  Отслеживаемые посты
{% endblock %}
{% block content %}
  <div class="container py-5">
    {% include 'includes/switcher.html' %}
    <article>
      {% for post in page_obj %}
          <li>
            Автор: {{ post.author.get_full_name }}
            <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
            {% thumbnail post.image "960x339" crop="center" padding=True upcalle=True as im %}
              <img class="card-img my-2" src="{{ im.url }}">
            {% endthumbnail %}
            <p><br>{{ post.text }}</br></p>
            <p><a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a></p>
            {% if post.group %}
              <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы: {{post.group.slug}}</a>
            {% endif%}
      {% if not forloop.last %}<hr>{% endif %}
      {% endfor %} 
      {% include 'includes/paginator.html' %}
    </article>
  </div>
{% endblock %}
