{% extends 'base.html' %}  
{% block title %}Новый пост{% endblock %}
{% load user_filters %} 
{% block content %} 
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% if post %} Редактирование записи {% else %} Добавление записи {% endif %}
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data"
            {% if post %}
              action="{% url 'posts:post_edit' post.pk %}">
            {% else %}
              action="{% url 'posts:post_create' %}">
            {% endif %}  
              {% csrf_token %}
                {% for field in form %}
                  <div class="form-group row my-3 p-3 textarea">
                    <label form="{{ field.id_for_label }}">
                      {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                    </label>    
                    {{ field|addclass:'form-control' }}
                    {% if field.help_text %}
                      <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                        {{ field.help_text|safe }}
                      </small>
                    {% endif %}
                    {% if field.errors %}
                      <small id="{{ field.id_for_label }}-error" class="form-text text-danger">
                        {{ field.errors.as_text|safe }}
                      </small>
                    {% endif %}

                  </div>
                {% endfor %}
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">
                    {% if post %} Сохранить {% else %} Добавить {% endif %}
                  </button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
